<!DOCTYPE html>
<html>
  <head>
    <title>Index GPT Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/98.css">
    <link rel="stylesheets" href="/static/style.css">
  </head><center>
  <body class="windows">
    <h1 class="window">Twitter Search</h1>
    <form action="/results" method="POST" class="window">
      <label for="handles">Twitter Handle:</label><br>
      <input type="text" id="handles" name="handles"><br>
      <label for="query">Query:</label><br>
      <input type="text" id="query" name="query"><br><br>
      <input type="submit" value="Submit">
    </form>

    <h1 class="window">File Search & Upload</h1>
    <form action="/upload" method="POST" class="window" enctype="multipart/form-data">
      <label for="file">File:</label><br>
      <input type="file" id="file" name="file"><br><br>
      <input type="submit" value="Submit File & Query">
      <br> <br><br>
    <form action="/folder_results" method="POST" class="window">
      <label for="folder_query">Prompt(Query):</label><br>
      <input type="text" id="folder_query" name="folder_query"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</center>
</html>
